#test {
    display: inline-table;
    border-style: solid;
    
    border-color: #0471b97c;
    max-height: 500px;
    margin: 10px;
    border-radius: 15px;
}
#title{
    overflow: hidden;
    white-space: normal;
    height: 1.1em; /* exactly 1 lines */
   /* text-overflow: -o-ellipsis-lastline**;*/
   text-overflow: ellipsis; 

}

h3 {
    text-align: center;
}

#img {
    position: relative;
    left : 0%;
    max-height: 200px ;
}

#btn {
    position: relative;
    left: 30%;
}


p {
    text-align: center;
}

.arrow {
    border: solid rgba(0, 0, 0, 0.301);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    height: 1vw;
    width: 1vw;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  #test :hover .arrow {
      
          border: solid #2286c9;
          border-width: 0 5px 5px 0;
          display: inline-block;
          padding: 3px;
          height: 1vw;
          width: 1vw;
      
  }

  
  
