#all {
    background-image: url("../imgs/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top : -8px;
    margin-left: -8px;
    
    
    width: 100%;
}

#c1 ,#c2 {
    /*color : white;*/
    
}

#cont {
    z-index: 115;
    position: absolute;
    top : 45.5%;
    left : 16.6%;
}

#backdiv {
    background-color: rgba(255, 255, 255, 0.239);
    width: 45vw;
    height: 14.4vw;
    position: absolute;
    top : 25%;
    left : 12.5%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

  
    
}

#chark {
    position: absolute;
    top : 28%;
    left : 16%;
    z-index: 15;
    font-size: 4vw;
    color : white;
    
}

#chark2 {
    position: absolute;
    top : 39%;
    left : 16%;
    z-index: 15;
    font-size: 1.45vw;
    color : white;
    font-family: 'Lucida Handwriting';
    
}

#butt2 {
    width : 5vw; 
    margin-left : 10.3vw;
    margin-right : 10.3px;
}

#butt3 {
    width : 5vw; 
    margin-left: 10.3vw;
}