@font-face {
    font-family: gothic;
    src: url(GOTHIC.TTF);
  }

#formela {
    background-image: url("../imgs/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top : -8px;
    margin-left: -8px;
    
    height: 89vh;
    
}

#formela2 {
    position: relative;
    top : 8vh;
}

#fl {
    color : white;
    position: relative;
    left: 40vw;
    font-family : gothic;
    width: 40vw;;
}



#fi {
    position: relative;
    left : 40vw;
    width: 18vw;;
    font-family : gothic;
}

#fi2 {
    position: relative;
    left : 40vw;
    width: 18vw;;
    top : 1.3vw;
}

#connectez {
    color : white;
    font-family : gothic;
    font-size: 4vw;
    position: relative;
    left : 32.3vw;
    top : 2vw;
    width: 40vw;
    margin : 0px;
}

#check , #sub {
    position: relative;
    left : 40vw;
    color : white ;
    width : 18vw;
    margin-right : 0px;
}

#ch {
    width: 18vw;
}