#confirm {
    position: relative;
    left : 42.5vw;
    top : 0.9vh;
    width : 15vw;
    height: 5vh;
    font-size: 0.98vw;
    
    /*border : solid #0471b97c;
    padding-left : 0.6vw;
    padding-right: 0.6vw;
    border-radius: 10px;;
    text-align: center;*/
}

#conf {
    position: relative;
    left : 45.7vw;
   
}

#tit {
    text-align: center;
}

#pan {
    position: relative;
    left : 41.5vw;
    border : solid #0471b97c;
    border-radius: 15px;
}

#suppr {
    position: relative;
    left : 2.2vw;
    background-color : red;
    border-color: red;
}

#hrs {
    position: relative;
    left : 38.6vw;
    width: 20vw;
}

@media screen and (max-width: 1366px) {
   #confirm {
       left: 43.5vw;
       font-size: 1vw;

   }
    #pan {
        left : 40vw;
    }

    #hrs {
        left : 39vw;
        width: 22vw;    
    }
    
  }