#tes22t {
    position: relative;
    left : 445px;
    background-color: white;
    width : 1000px;
}

#but1 {
    width: 48% ;
    position: relative;
    left : 1%;
    color: white;
}

#but2 {
    width: 48% ;
    position: absolute;
    left : 50%;
}

#aaa {
    padding: 180px;
    color: white;
    
}

#loading {
    position: absolute;
    left : 44.8vw;
    top: 33vh;
    
}

#container {
    position: relative;
    left : 23vw;
    width: 53vw;;
    top : 2vh;  
    
}

#dropdown-basic-button {
    position: relative;
    left : 23vw;
}

@media screen and (max-width: 1366px) {
    #tes22t {
        
        left : 190px;
        
    }

    #container {
        left : 24vw;
    }

    #dropdown-basic-button {
        left : 20.8vw;
    }
    
    
  }

@media screen and (max-width: 1600px) {
    #tes22t {
        
        left : 290px;
        
    }
    
    
  }