@font-face {
    font-family: gothic;
    src: url(GOTHIC.TTF);
  }

#formel {
    background-image: url("../imgs/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top : -8px;
    margin-left: -8px;
    
    height: 89vh;
    width: 100%;
}

#formel2 {
    position: relative;
    top : 8vh;
}

#fl {
    color : white;
    position: relative;
    left: 40vw;
    font-family : gothic;
}

#fi {
    position: relative;
    left : 40vw;
    width: 18vw;;
    font-family : gothic;
}

#fi2 {
    position: relative;
    left : 40vw;
    width: 18vw;;
    top : 1.3vw;
}

#wew {
    color : white;
    font-family : gothic;
    font-size: 4vw;
    position: relative;
    left : 35vw;
    top : 2vw;
    width: 40vw;;
}

@media screen and (max-width: 1366px) {
    
    #fi2 {
       
        top : 1vw;
    }
    
    
  }