#bg{
    background-color: black;
    position: fixed;
    bottom: 0;
    min-width: 100%;
    max-height: 160px;
    margin: auto;
}
ul{
    background-color:  black
}
#text{
    color: blanchedalmond;
    position: relative;
    right : 0.1vw;
}