ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    left:0;
    
  }
  
  li {
    float: left;
  }
  
 link {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 14px;
    text-decoration: none;
  }
  #login2{
    position: absolute;
    left : 79.5vw;
  }
  #a{
    color: white;
  }
  
  li #a:hover {
    background-color: #111;
  }

#navtop {
  
}

#Register {
  position : absolute;
  left : 81.2vw;
}

#login {
  position : absolute;
  left: 85.2vw;
}

#Productsh , #Panierh , #Abouth , #se{
  position: relative;
  left: 12.5vw;;
}

#disc {
  position : relative;
  left : 61vw;
  color : red;
}

@media screen and (max-width: 1366px) {
  #Register {
   
    left : 79.9vw;
  }
  
  
}

@media screen and (max-width: 1600px) {
  #Register {
   
    left : 79.9vw;
  }
  
  
}

