* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-layout {
  max-width: 100%;
  margin: 0;
}

.app-layout-header {
}

.app-layout-content {
  min-height: 100px;
  padding: 8px;
}

.app-layout-footer {
}

.app-nav {
  width: 100%;
  height: 40px;
  list-style-type: none;
  padding: 0;
}

.app-nav-item {
  display: inline-block;
  padding: 0px 8px;
  line-height: 40px;
}

.app-nav-item a {
  display: block;
  text-decoration: none;
  color: #123456;
}

.app-product {
  padding: 8px;
}

.app-product p {
  padding: 8px;
}
